<footer class="px-2 my-6 mx-auto max-w-3xl text-xs">
  <div class="flex justify-around">
    <div class="text-left flex-1">
      <div>License</div>
      <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons - CC BY 3.0</a>
    </div>
    <div class="text-center flex-1">
      <a href="{{ .Site.Params.repository }}" class="svg-link" aria-label="GitLab Repository">{{ partial "fontawesome.html" "brands/gitlab" }}</a>
    </div>
    <div class="text-center flex-1">
      <a href="{{ .Site.Params.repositoryRu }}" class="svg-link" aria-label="GitLab Repository">{{ partial "fontawesome.html" "brands/github" }}</a>
    </div>
    <div class="text-right flex-2">
      &copy; {{ now.Format "2006" }} <a href="https://souldzin.com">Paul Slaughter</a><br/>
      &copy; {{ now.Format "2006" }} перевод <a href="https://kotrik.ru">Mikhail Babynichev</a>
    </div>
  </div>
</footer>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  var z = null;m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

  ym(90189154, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90189154" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->